* {
    box-sizing: border-box;
}

@font-face {
  font-family: 'BarlowCondensedRegular';
  src: url('/fonts/BarlowCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'BarlowCondensedBold';
    src: url('/fonts/BarlowCondensed-Bold.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'BarlowCondensedBlack';
    src: url('/fonts/BarlowCondensed-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 1000;
}

.bcregular {
  font-family: 'BarlowCondensedRegular', sans-serif;
}

.bcbold {
    font-family: 'BarlowCondensedBold', sans-serif;
}

.bcblack{
    font-family: 'BarlowCondensedBlack', sans-serif;
}

.myblack {
    color: #231f20;
}