* {
    box-sizing: border-box;
}

@font-face {
  font-family: 'BarlowCondensedRegular';
  src: url('/fonts/BarlowCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'BarlowCondensedBold';
    src: url('/fonts/BarlowCondensedBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BarlowCondensedBlack';
    src: url('/fonts/BarlowCondensed-Black.ttg') format('truetype');
}

.barlowcondensedregular {
  font-family: 'BarlowCondensedRegular', sans-serif;
}

.barlowcondensedbold {
    font-family: 'BarlowCondensedBold', sans-serif;
}

.barlowcondensedblack{
    font-family: 'BarlowCondensedBlack', sans-serif;
}